apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: default
  labels:
    app: postgresql
    component: database
spec:
  type: ClusterIP
  selector:
    app: postgresql
  ports:
  - name: postgresql
    port: 5432
    targetPort: 5432
    protocol: TCP